<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.HiredateMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Hiredate" >
    <id column="hid" property="hid" jdbcType="INTEGER" />
    <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="usercode" property="usercode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    hid, startTime, endTime, usercode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hiredate
    where hid = #{hid,jdbcType=INTEGER}
  </select>
  <select id="selectUser" resultType="com.example.demo.entity.UserVo" parameterType="map">
    SELECT `user`.usercode,`user`.username,department.dname
    FROM department
    INNER JOIN `user` on department.did=`user`.did
    INNER JOIN hiredate on `user`.usercode=hiredate.usercode
    <where>
      <if test="usercode != null and usercode != ''">
        and hiredate.usercode=#{usercode}
      </if>
      <if test="starttime != null and starttime != ''">
        and hiredate.startTime <![CDATA[>=]]> #{starttime}
      </if>
      <if test="endtime != null and endtime != ''">
        and hiredate.endTime <![CDATA[<=]]> #{endtime}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hiredate
    where hid = #{hid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Hiredate" >
    insert into hiredate (hid, startTime, endTime, 
      usercode)
    values (#{hid,jdbcType=INTEGER}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{usercode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Hiredate" >
    insert into hiredate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hid != null" >
        hid,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="usercode != null" >
        usercode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hid != null" >
        #{hid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="usercode != null" >
        #{usercode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Hiredate" >
    update hiredate
    <set >
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="usercode != null" >
        usercode = #{usercode,jdbcType=VARCHAR},
      </if>
    </set>
    where hid = #{hid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Hiredate" >
    update hiredate
    set startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      usercode = #{usercode,jdbcType=VARCHAR}
    where hid = #{hid,jdbcType=INTEGER}
  </update>
</mapper>